:root {
    --background-color: #f0f0f0;
    --text-color: #333;
    --card-background: #fff;
    --button-background: #4CAF50;
    --button-text-color: #fff;
    --ball-color-1: #fbc400;
    --ball-color-2: #69c8f2;
    --ball-color-3: #ff7272;
    --ball-color-4: #aaa;
    --ball-color-5: #b0d840;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #f0f0f0;
    --card-background: #444;
    --button-background: #5cb85c;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 20px;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--card-background);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-right: auto;
}

#date-container {
    font-size: 1rem;
    color: var(--text-color);
    margin-right: 20px;
}

.generate-btn {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background-color: var(--button-background);
    color: var(--button-text-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.generate-btn:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.menu-recommendations {
    display: grid;
    gap: 15px;
}

.menu-item {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.menu-category {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.menu-name {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
}

/* Theme Switcher */
.theme-switcher {
    position: relative;
}

.theme-switch-checkbox {
    display: none;
}

.theme-switch-label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-switch-label::after {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.theme-switch-checkbox:checked + .theme-switch-label {
    background-color: #4CAF50;
}

.theme-switch-checkbox:checked + .theme-switch-label::after {
    transform: translateX(25px);
}
